:root {
  --absoluteDarkColor: #000;
  --absoluteLightColor: #fff;
  --primayColor: #055a69;
  --primaryLightColor: #0097b2;
  --secondaryColor: #e4e4e7;
  --textDarkColor: #191919;
  --textLightColor: #303031;
  --textLightgrayColor: #b5b5b9;
}

.title-container-body {
  display: flex;
  justify-content: center;
  align-items: start;

  min-height: 100vh;
  color: var(--textLightColor);
}
.title-container {
  background-color: var(--secondaryColor);
  width: 95%;
  min-height: 250px;
  margin-top: 20px;
  min-height: min-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.title {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
}
.title h2 {
  width: 40%;
  font-size: 48;
}
.title p {
  width: 40%;
  padding: 10px;
}
.description-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
.description-card {
  width: 100%;
  border-radius: 10px;
  width: 600px;
  background-color: var(--absoluteLightColor);
  padding: 10px;
}
.description-icon .icon-style {
  color: var(--primaryLightColor);
  font-size: 20px;
}
