:root {
  --absoluteDarkColor: #000;
  --absoluteLightColor: #fff;
  --primayColor: #055a69;
  --primaryLightColor: #0097b2;
  --secondaryColor: #e4e4e7;
  --textDarkColor: #191919;
  --textLightColor: #303031;
  --textLightgrayColor: #b5b5b9;
}

.our-courses-cards-pageCourse {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}
.our-courses-items-pageCourse {
  text-align: center;
  width: 350px;
  height: 490px;
  padding: 15px;
  background-color: var(--secondaryColor);
  border-radius: 10px;
}
.our-courses-items-pageCourse .image-pageCourse img {
  width: 350px;
  height: 200px;
  margin: auto;
  object-position: top initial;
  border-radius: 10px;
}
.details-our-course-pageCourse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  margin: 5px;
  font-size: 15px;
}
.time-level-ourcourses-pageCourse {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 260px;
  gap: 8px;
}
.time-level-ourcourses-pageCourse h5 {
  font-size: 15px;
  border: 1px solid var(--textLightgrayColor);
  border-radius: 5px;
  padding: 2px 8px;
  font-weight: 200;
}
.name-teacher-our-couses-pageCourse h4 {
  font-size: 22px;
  padding: 5px 10px;
  width: 60px;
  color: var(--primaryLightColor);
}
.content-our-course-pageCourse p {
  font-size: 12px;
  font-weight: 200;
  margin: 10px;
}
.content-our-course-pageCourse h3 {
  margin: 10px;
  color: var(--textLightColor);
}

.btn-pageCourse {
  text-align: center;
  width: 350px;
}
.btn-pageCourse button,
.btn-pageCourse a button {
  width: 100%;
  border-radius: 10px;
  margin: 5px auto;
  padding: 10px;
  color: var(--textLightColor);
  border: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Be Vietnam Pro", sans-serif;
}

.btn-pageCourse button:hover {
  background-color: var(--primaryLightColor);
  color: var(--absoluteLightColor);
}
.btn-pageCourse a .your-level {
  background-color: var(--primaryLightColor);
  color: var(--absoluteLightColor);

  font-weight: 700;
}
.btn-pageCourse a .your-level:hover {
  background-color: var(--primayColor);
}
