:root {
  --absoluteDarkColor: #000;
  --absoluteLightColor: #fff;
  --primayColor: #055a69;
  --primaryLightColor: #0097b2;
  --secondaryColor: #e4e4e7;
  --textDarkColor: #191919;
  --textLightColor: #303031;
  --textLightgrayColor: #b5b5b9;
}

.container-body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 5px;
  margin: auto;
  width: 100%;
}
.info-form {
  width: 80%;
  margin: 5px auto;
}

h2 {
  margin-bottom: 24px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: start;
}

input {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  outline: none;
  font-size: 18px;
}

.form .info-form .text-error {
  color: red;
}
.form a {
  text-decoration: none;
}
.form .btn-form {
  width: 80%;
  margin: 20px;
}
.btn-form a {
  color: white;
  padding: 12px 50px;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin: 20px;
  color: var(--textDarkColor);
  border: 1px solid var(--textDarkColor);
}

.btn-form button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40%;
}
.btn-form p {
  width: 80%;
  height: 10%;
  margin: 20px auto;
}

button:hover {
  background-color: #45a049;
}
