@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap");

:root {
  --absoluteDarkColor: #000;
  --absoluteLightColor: #fff;
  --primayColor: #055a69;
  --primaryLightColor: #0097b2;
  --secondaryColor: #e4e4e7;
  --textDarkColor: #191919;
  --textLightColor: #303031;
  --textLightgrayColor: #b5b5b9;
}

.container-body {
  background-image: linear-gradient(
    var(--primaryLightColor),
    var(--primayColor)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--textLightColor);
}
.container {
  background-color: var(--secondaryColor);
  width: 500px;
  min-height: 250px;

  min-height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  text-align: center;
  margin: auto;
}
.score-section h2 {
  font-size: 40px;
}
.score-section h4 {
  font-size: 20px;
}
.score-section h3 {
  font-size: 25px;
}
.score-section h3 span {
  font-size: 35px;
  color: var(--primaryLightColor);
}

.question-section {
  width: 100%;
  position: relative;
  margin: 5px auto;
}

.question-count {
  margin-bottom: 20px;
}
.question-count span {
  font-size: 28px;
}
.question-text {
  margin-bottom: 12px;
}
.difficulty {
  width: 80%;
  height: 40%;
  border-radius: 15px;
  font-size: 15px;
  outline: none;
  border: none;
}
/* ANSWERS/REIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px auto;
  text-align: center;
}
button {
  width: 100%;
  font-size: 20px;
  color: var(--absoluteLightColor);
  background-color: var(--primaryLightColor);
  border-radius: 15px;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--textLightgrayColor);
  cursor: pointer;
  margin: 3px auto;
}

.correct {
  background-color: green;
}
button:hover {
  background-color: var(--primayColor);
}
button:focus {
  outline: none;
}
button svg {
  margin-right: 5px;
}
.actions {
  display: flex;
  margin-top: 15px;
  gap: 10px;
}
.bt-na {
  text-decoration: none;
}
.actions button {
  background-color: var(--primayColor);
  justify-content: center;
  width: 50%;
}
.actions button:hover {
  background-color: var(--primaryLightColor);
  color: var(--absoluteLightColor);
}
@media only screen and (max-width: 1000px) {
  .container-body {
    margin-top: 4rem;
  }
  .container {
    flex-direction: column;
    margin: 15px;
  }
  .difficulty-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
  }
  .difficulty {
    width: 35%;
    height: 80%;
  }
}
